<app-navbar></app-navbar>

@if (showLoadingScreen()) {
  <app-loading-screen [ready]="!!data()" (finished)="onLoadingFinished()"></app-loading-screen>
}

@if (data()) {
  @if (showIntro()) {
    <div class="intro-overlay" [class.closing]="introClosing()" (click)="enterSite()">
      <div class="intro-inner">
        <span class="intro-monogram">M &amp; U</span>
        <p class="intro-eyebrow">Together with their families</p>
        <h1 class="intro-names">
          {{ data()!.couple.groom.name.split(' ')[0] }}<br />&amp; {{ data()!.couple.bride.name.split(' ')[0] }}
        </h1>
        <p class="intro-date">{{ data()!.couple.weddingDate | date: 'dd . MM . yyyy' }}</p>
        <button class="intro-enter" type="button" (click)="enterSite()">
          <i class="bi bi-envelope-heart-fill"></i> Tap to Open Invitation
        </button>
        <p class="intro-music"><i class="bi bi-music-note-beamed"></i> with music</p>
      </div>
    </div>
  }

  <app-hero [couple]="data()!.couple"></app-hero>
  <app-couple [couple]="data()!.couple"></app-couple>
  <app-story [milestones]="data()!.story"></app-story>
  <app-parents [parents]="data()!.parents"></app-parents>
  <app-invitation-card [couple]="data()!.couple" [venue]="data()!.venue" [events]="data()!.events"></app-invitation-card>
  <app-events [events]="data()!.events"></app-events>
  <app-rsvp></app-rsvp>
  <app-venue [venue]="data()!.venue"></app-venue>
  <app-friendship-tribute [friendName]="data()!.tribute.friendName" [photo]="data()!.tribute.photo" [message]="data()!.tribute.message"></app-friendship-tribute>
  <app-share></app-share>
  <app-qr-code></app-qr-code>
  <app-footer [createdBy]="data()!.site.createdBy" [social]="data()!.social"></app-footer>
  <app-music-player [tracks]="data()!.music.tracks"></app-music-player>
}